#otbody {
background-color: #2F3597;
font-size:75%;
color:#FFF;
font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
 /* * {
   border: 1px solid red !important;
}*/
#header {
	background: #2F3597;
	color: #FFF;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
h1 {
	color: #FFF !important;
}
hr {
	background: #2F3597 !important;
	height: 1px !important;
	padding: 0 !important;
}

.texts {
	font-size: 18px;
	margin: 0;
}

ul {
border-bottom:1px solid #2F3597 !important;
border-top: 1px solid #2F3597 !important;
color:#000;
font-family: arial, helvetica, sans-serif;
height: 40px !important;
list-style-type: none;
margin:0 !important;
padding:0 !important;
white-space:nowrap;
}

ul a {
padding-right: 22px;
padding-left: 22px;
display: block;
text-decoration: none;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 21px;
color: #371C1C;
}

li a:hover{
	color: #FFFFFF;
	background: #2F3597;
	
}
li {
	display:inline;
}
li a {
padding:0.2em 1em;
background:#FFF;
color:#000;
text-decoration:none;
float:left;
/* border:1px solid #000;*/
}

