#otbody {
background-color: #2F3597;
font-size:75%;
color:#FFF;
font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
 /* * {
   border: 1px solid red !important;
}*/
#header {
	background: #2F3597;
	color: #FFF;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
h1 {
	color: #FFF !important;
}
hr {
	background: #2F3597 !important;
	height: 1px !important;
	padding: 0 !important;
}

.texts {
	font-size: 18px;
	margin: 0;
}

/* ---- Horizontal menu section ---- */ 
.horz { } 
.horz ul{
	border-bottom:1px solid #2F3597;
        border-top:1px solid #2F3597;
        color: #000;
        font-family: arial,helvetica,sans-serif;
        height: 40px;
	padding:0;
	margin:0;
	white-space: nowrap;
        font-size: 21px;
        padding-left: 22px;
        padding-right: 22px;
        text-decoration: none;
}

.horz ul li {
	float:left;
	list-style:none;
}
.horz ul li a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    float: left;
    padding: 0.2em 1em;
    text-decoration: none;
	
}
.horz ul li a:hover {
	background: none repeat scroll 0 0 #2F3597;
	color:#FFF !important;
	text-decoration:none;
}
.horz ul li a.active {
	background-color:#2F3597;
	color:#FFF;
	text-decoration:none;
}
/* ---- End of Horizontal Menus section ---- */
